# ─── Entorno ───
.env

# ─── Python ───
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
db.sqlite3

# ─── Node ───
node_modules/
.vite/
dist/

# ─── Docker ───
mysql_data/

# ─── IDE ───
.idea/
.vscode/
*.swp
*.swo
*~

# ─── OS ───
.DS_Store
Thumbs.db
